header {
  background: rgba(55, 60, 63, 0.8);
  background-color: rgba(55, 60, 63, 0.8);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 15px;
  height: 70px;
  margin: 0;
  top: 0;
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  position: fixed;
  z-index: 100;
  width: 100%;

  .headerContent {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;

    .logoContainer {
      width: 50px;

      img {
        width: auto;
        height: 50px;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    .siteTitle {
      font-size: 16pt;
      flex-grow: 1;

      a {
        text-decoration: none;
        color: white;
        padding-left: 10px;
      }
    }

    .headerLinks {
      font-size: 15px;
      font-weight: bold;
      padding-right: 70px;

      ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;

        li {
          padding: 0 2px;
        }
      }

      a {
        text-decoration: none;
        color: #ffffff;
        padding: 10px 10px;
      }

      a:hover {
        text-decoration: none;
        background-color: #4488cc;
        border-radius: 20px;
      }
    }
  }
}
